!!!
html
	head
		title Social Media Analytics
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/chosen.min.css")
		link(rel="stylesheet", href="css/style.css")
		script(type="text/javascript", src="js/libs/jquery-1.9.1.js")
		script(type="text/javascript", src="js/libs/bootstrap.min.js")
		script(type="text/javascript", src="js/libs/handlebars-1.0.0.js")
		script(type="text/javascript", src="js/libs/ember-1.0.0.js")
		script(type="text/javascript", src="js/libs/d3.v3.min.js")
		script(type="text/javascript", src="js/libs/chosen.jquery.min.js")
		script(type="text/javascript", src="js/templates.js")
		script(type="text/javascript", src="js/BarChart.js")
		script(type="text/javascript", src="js/client.js")

	body

		.container
			nav(class="navbar navbar-default", role="navigation")
				.navbar-header
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(href="/", class="navbar-brand") Socialr

				.collapse.navbar-collapse.navbar-ex1-collapse
					ul(class="nav navbar-nav pull-right")
						li
							a(href="/#/referrers") Referrers
						if user
							li 
								a(href="/logout") Logout
						else
							li
								a(href="/login") Login