!!!
html
	head
		title Social Media Analytics
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")

	body
		.container
			nav(class="navbar navbar-default", role="navigation")
				.navbar-header
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(href="/", class="navbar-brand") Socialr

				.collapse.navbar-collapse.navbar-ex1-collapse
					ul(class="nav navbar-nav pull-right")
						li
							a(href="/#/referrers") Referrers
						if user
							li 
								a(href="/logout") Logout
						else
							li
								a(href="/login") Login

			p You need a Google account to log into Socialr
			a(href="/auth/google", type="button", class="btn btn-primary") Log In with Google