img {
	width: 50px;
	margin-right: 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}

.faq {
	counter-reset: my-badass-counter;
}

.faq dt {
	position: relative;
	font: bold 16px Georgia;
	padding: 4px 0 20px 0;
}

.faq dt:before {
	position: absolute;
	left: 0;
	top: 0;
	font: bold 50px/1 Sans-Serif;
}

.faq dt.one:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter 1;
}

.faq dt.two:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter 2;
}

.faq dt.three:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter 3;
}

.faq dd {
	margin: 0 0 10px 0;
}

.faq dt, .faq dd {
	padding-left: 50px;
}

text {
	font: 10px sans-serif;
}

line {
	stroke: #000;
	stroke-width: 0.5px;
}

ul.tree-branch, ul.tree-branch ul {
	list-style-type: none;
}

ul.tree-branch ul {
	margin-left: 1px;
}