img {
	width: 50px;
	margin-right: 10px;
}

li {
	cursor: pointer;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}

.faq {
	counter-reset: my-badass-counter;
}

.faq dt {
	position: relative;
	font: bold 16px Georgia;
	padding: 4px 0 20px 0;
}

.faq dt:before {
	position: absolute;
	left: 0;
	top: 0;
	font: bold 50px/1 Sans-Serif;
}

.faq dt.one:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter 1;
}

.faq dt.two:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter 2;
}

.faq dt.three:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter 3;
}

.faq dd {
	margin: 0 0 10px 0;
}

.faq dt, .faq dd {
	padding-left: 50px;
}

text {
	font: 10px sans-serif;
}

line {
	stroke: #000;
	stroke-width: 0.5px;
}

ul.tree-branch, ul.tree-branch ul {
	list-style-type: none;
}

ul.tree-branch ul {
	margin-left: 1px;
}

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 600px;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.nav-stacked ul {
	margin-left: 20px;
}


.signup {
	counter-reset: my-counter;
}
 
.signup dt {
	position: relative;
	font: bold 16px Georgia;
	padding: 4px 0 10px 0;
}

.unactive {
	color: #D8D8D8;
}

.signup dt:before {
	content: counter(my-counter);
	counter-increment: my-counter;
	position: absolute;
	left: 0;
	top: 0;
	font: bold 50px/1 Sans-Serif;
}

.signup dd {
	margin: 0 0 50px 0;
}

.signup dt, .signup dd {
	padding-left: 50px;
}

img.loading {
	height: 32px;
	width: 32px;
}

.centering {
	text-align: center;
	float:none;
	margin:0 auto;
}