<div class="col-md-4">
	<dl class="faq">
		<dt class="two">Select property</dt>
	</dl>
	<ul class="nav nav-pills nav-stacked">
		{{#each webproperties}}
			{{#linkTo "webproperty" this tagName="li"}}
				<a {{bindAttr href="#"}}>{{name}}</a>
			{{/linkTo}}
		{{/each}}
	</ul>
</div>
{{outlet webproperty}}