<div class="row">
	<div class="col-md-4">
		<dl class="faq">
			<dt class="one">Select account</dt>
			{{#each model}}
				{{#linkTo "account" this tagName="dd" href=false}}
					<a {{bindAttr href="view.href"}}>{{name}}</a>
				{{/linkTo}}
			{{/each}}
		</dl>
	</div>
	{{outlet account}}
</div>
</br>
</br>
</br>
<div class="container profile">
	{{outlet profile}}
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>