<div class="col-md-4">
	<dl class="faq">
		<dt class="two">Select property</dt>
		{{#each webproperties}}
			{{#linkTo "webproperty" this tagName="dd" href=false}}
				<a {{bindAttr href="view.href"}}>{{name}}</a>
			{{/linkTo}}
		{{/each}}
	</dl>
</div>
{{outlet webproperty}}