<div class="col-md-4">
	<dl class="faq">
		<dt class="two">Select property</dt>
		{{#each webproperties}}
			<dd><a {{bindAttr href="view.href"}} {{action "fetch" id}}>{{name}}</a></dd>
		{{/each}}
	</dl>
</div>
{{outlet webproperty}}