<div class="jumbotron">
	<h1>Hi there</h1>
	<br>
	<p><strong>Socialr</strong> enables you to analyze who talks about your content, how influential they are and what online social conversations they spawn</p>
	<br>
	<div class="centering">
		<iframe width="560" height="315" src="//www.youtube.com/embed/3bO0L-qZDZM" frameborder="0" allowfullscreen></iframe>
	</div>
	<br>
	<div class="centering">
		<p>Are you getting lots of visits from social media sites?</p>
		<p>Want to put a face on who's driving traffic to your website?</p>
		<p>Want to read the stories around your web content?</p>
		<button class="btn btn-primary">Sign Up</button>
	</div>
</div>