<div class="jumbotron">
	<div class="container">
		<h1>Hi there</h1>
		<p>Socialr enables you to analyze who talks about your content, how influential they are and what online social conversations they spawn</p>
		{{#linkTo "login"}}<button class="btn btn-primary">Log In</button>{{/linkTo}}
	</div>
</div>
