<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Socialr</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav pull-right">
				<li>{{#linkTo "referrers"}}Referrers{{/linkTo}}</li>
				<li>{{#linkTo "fetch"}}Fetch{{/linkTo}}</li>
				{{#if user}}
					<li>{{#linkTo "welcome"}}Login{{/linkTo}}</li>
				{{else}}
					<li>{{#linkTo "welcome"}}Logout{{/linkTo}}</li>
				{{/if}}
			</ul>
		</div>
	</nav>
	{{outlet}}
</div>