{{#if error}}
	<div class="alert alert-danger">Please log in.</div>
{{/if}}
<p>You need a Google account to log into Socialr.</p>
<a href="http://socialr.herokuapp.com/auth/google" type="button" class="btn btn-primary">Log In with Google</a>
			