<ul class="nav nav-pills nav-stacked">
	{{#each arrangedContent itemController="referrer"}}
		{{#if model.text}}
			<li>{{#linkTo "referrer" this}}{{model.user.screen_name}}<span class="badge">{{model.totalClicks}}</span>{{/linkTo}}</li>
		{{/if}}
	{{/each}}
</ul>