<div class="col-md-4">
	<dl class="faq">
		<dt class="three">Select profile</dt>
	</dl>
	<ul class="nav nav-pills nav-stacked">
		{{#each profiles}}
			{{#linkTo "profile" this tagName="li"}}
				<a {{bindAttr href="#"}}>{{name}}</a>
			{{/linkTo}}
		{{/each}}
	</ul>
</div>