<div class="col-md-4">
	<dl class="faq">
		<dt class="three">Select profile</dt>
		{{#each profiles}}
			{{#linkTo "profile" this tagName="dd" href=false}}
				<a {{bindAttr href="view.href"}}>{{name}}</a>
			{{/linkTo}}
		{{/each}}
	</dl>
</div>