<div class="jumbotron">
	<div class="container">
		<h1>Hi there</h1>
		<p>Socialr enables you to analyze who talks about your content, how influential they are and what online social conversations they spawn</p>
		<form role="form">
			<input type="button" class="btn btn-primary" {{action "authorize"}} value="Sign On with Google" id="authorize-button">
		</form>
	</div>
</div>
{{#if access_token}}
	You are signed in.
{{/if}}